.panel {
    left: -350px;
}
.panel.open {
    left: 0;
}
.panel .panel-btn {
    right: -49px;
    left: auto;
}
.panel .panel-btn:before {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(6deg);
       -moz-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
            transform: rotate(6deg);
}
.site {
    margin-right: 300px;
}
#header {
    height: 0;
    padding: 0;
}

#static-area-header-top {
    width: 320px;
    padding: 60px 40px;
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 0 20px 2px;
       -moz-box-shadow: rgba(0, 0, 0, .2) 0 0 20px 2px;
            box-shadow: rgba(0, 0, 0, .2) 0 0 20px 2px;
}

#static-area-header-top .static-header-logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

#static-area-header-top .container {
    width: 100%;
    margin: 0;
    padding: 0;
}

#static-area-header-top .container .row {
    margin: 0;
    padding: 0;
}

#static-area-header-top .container .row > div {
    width: 100%;
    padding: 0;
}

#static-area-header-top .menu-primary li,
.menu-secondary li {
    margin-bottom: 27px;
    margin-left: 0;
    float: none;
}

#static-area-header-top .menu-primary li a,
.menu-secondary li a {
    font-size: 15px;
    color: #333;
}

#static-area-header-top #menu-primary-items {
    float: none;
}

#menu-primary .sub-menu {
    margin-right: 40px;
    padding: 15px 30px 15px 20px;
    top: -5px;
    right: 100%;
    left: auto;
    border-top: 0;
    border-right: 3px solid #f62e46;
    border-radius: 0;
    -webkit-box-shadow: rgba(0, 0, 0, .3) 0 0 10px 2px;
       -moz-box-shadow: rgba(0, 0, 0, .3) 0 0 10px 2px;
            box-shadow: rgba(0, 0, 0, .3) 0 0 10px 2px;
}

#menu-primary .sub-menu li {
    margin-bottom: 0;
}

#header .search-form input[type='submit'] {
    margin: 0;
    padding: 0;
    color: #c2c2c2;
}

#header .search-form input[type='search'] {
    right: auto;
}
