/* ----- Header ----- */
#header {
    max-width: 1170px;
    margin: 0 auto;
}
/* ----- Content ----- */
#content .container, #content .container-fluid {
    max-width: 1170px;
}
/* ----- Footer ----- */
#footer {
    max-width: 1170px;
    margin: 0 auto;
}
