/* 3d mixins */
/* end 3d mixins */
.custom-tooltip-styling {
  padding: 10px 15px;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #949494;
  background: #fff;
  max-width: 200px;
  z-index: 102;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.style-switcher-panel {
  width: 400px;
  position: fixed;
  z-index: 101;
  top: 0;
  right: -400px;
  bottom: 0;
  background-color: #fff;
  color: #949494;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.admin-bar .style-switcher-panel {
  padding-top: 30px;
}
.style-switcher-panel .preset-spinner {
  padding: 20px 15px 10px 15px;
  text-align: center;
  display: none;
}
.style-switcher-panel .preset-spinner span {
  color: #949494;
  display: block;
  margin-top: 5px;
}
.style-switcher-panel .panel-inner {
  height: 100%;
  padding: 0 15px;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}
.style-switcher-panel .panel-inner .theme-name {
  color: #949494;
  margin: 30px 0 20px 0;
  text-align: center;
}
.style-switcher-panel .panel-inner .theme-name span {
  color: #4eb7fe;
  display: block;
  font-size: 18px;
}
.style-switcher-panel .panel-inner .group-wrap {
  margin-bottom: 20px;
}
.style-switcher-panel .panel-inner .group-name {
  position: relative;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  color: #949494;
}
.style-switcher-panel .panel-inner .group-name span {
  background-color: #fff;
  padding: 3px 5px;
}
.style-switcher-panel .panel-inner .group-name:before {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
  position: absolute;
  top: 13px;
  left: 0;
  content: '';
  z-index: -1;
}
.style-switcher-panel .panel-inner .preset-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.style-switcher-panel .panel-inner .preset-list li {
  width: 33.2%;
  display: inline-block;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.style-switcher-panel .panel-inner .preset-list li .inner {
  margin: 5px;
  cursor: pointer;
}
.style-switcher-panel .panel-inner .preset-list li .inner .thumbnail {
  margin-bottom: 5px;
}
.style-switcher-panel .panel-inner .preset-list li .inner .thumbnail img {
  width: 100%;
}
.style-switcher-panel .panel-inner .preset-list li .inner .title {
  display: block;
  text-align: center;
  color: #949494;
  -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.style-switcher-panel .panel-inner .preset-list li.active .title {
  color: #4eb7fe;
}
.style-switcher-panel .panel-inner .preset-list li:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.style-switcher-panel .panel-inner .preset-list li:hover .title {
  color: #4eb7fe;
}
.style-switcher-panel.open {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.style-switcher-panel.open .panel-toggle {
  color: #4eb7fe;
}
.style-switcher-panel .panel-toggle {
  display: block;
  position: absolute;
  z-index: 90;
  top: 100px;
  left: -49px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #949494;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.style-switcher-panel .panel-toggle:hover {
  cursor: pointer;
  color: #000;
}
.style-switcher-panel .panel-toggle .fa {
  display: block;
  width: 49px;
  height: 50px;
  position: relative;
  z-index: 90;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
}
.style-switcher-panel .panel-toggle:before {
  width: 80%;
  max-width: 300px;
  height: 20%;
  position: absolute;
  z-index: 70;
  bottom: 5px;
  left: 10px;
  content: ' ';
}

@media (min-width: 992px) and (max-width: 1200px) {
  .style-switcher-panel {
    width: 300px;
  }
  .style-switcher-panel .panel-inner .preset-list li {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .style-switcher-panel {
    width: 200px;
  }
  .style-switcher-panel .panel-inner .theme-name {
    font-size: 18px;
  }
  .style-switcher-panel .panel-inner .theme-name span {
    font-size: 14px;
  }
  .style-switcher-panel .panel-inner .preset-list li {
    width: 50%;
  }
  .style-switcher-panel .panel-inner .preset-list li .inner .title {
    font-size: 12px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .style-switcher-panel {
    width: 150px;
  }
  .style-switcher-panel .preset-spinner {
    padding-top: 30px;
  }
  .style-switcher-panel .panel-inner .theme-name {
    font-size: 18px;
  }
  .style-switcher-panel .panel-inner .theme-name span {
    font-size: 14px;
  }
  .style-switcher-panel .panel-inner .preset-list li {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .style-switcher-panel {
    width: 150px;
  }
  .style-switcher-panel .panel-inner .theme-name {
    font-size: 15px;
  }
  .style-switcher-panel .panel-inner .theme-name span {
    font-size: 12px;
  }
  .style-switcher-panel .panel-inner .preset-list li {
    width: 100%;
  }
}
body.cover {
  overflow: hidden;
}

.ui-helper-hidden-accessible {
  display: none;
}

.site-preloader {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #949494;
}
.site-preloader span {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.site-cover {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.spinner-folding-cube {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.spinner-folding-cube .spinner-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.spinner-folding-cube .spinner-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0199FF;
  -webkit-animation: spinner-foldCubeAngle 2.4s infinite linear both;
  animation: spinner-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.spinner-folding-cube .spinner-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.spinner-folding-cube .spinner-cube2:before {
  background-color: #1FA4FD;
}

.spinner-folding-cube .spinner-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.spinner-folding-cube .spinner-cube3:before {
  background-color: #40B0FB;
}

.spinner-folding-cube .spinner-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.spinner-folding-cube .spinner-cube4:before {
  background-color: #5EBDFD;
}

.spinner-folding-cube .spinner-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.spinner-folding-cube .spinner-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.spinner-folding-cube .spinner-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes spinner-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes spinner-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
